---
layout: default
---


<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="postHeader">
    <h1 class="postTitle" itemprop="name headline" style="font-size: 2rem;
    font-weight: 700;">{{ page.title }}</h1>
    <p class="postMeta" style="font-size: 1.2rem; font-style: italic;font-weight: 500;"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="postContent" itemprop="articleBody">
    {{ content }}
  </div>

</article>
